body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing:border-box;
    overflow-x: hidden;

}

/*body::-webkit-scrollbar {
    display: none;
  }*/
  


h1{
    font-size: 128px;
    font-family: Helvetica, sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.name{
  display: flex;
  height: 16rem;
  margin-top: -15rem;
}
.J, .U, .L, .I, .A, .N {
  animation-name: wiggleWiggle;
  animation-duration: 1.25s;
  animation-direction: alternate;
  animation-timing-function: steps(2, end);
  animation-iteration-count: infinite;
}

.J {
  animation-delay: 0s;
}

.U {
  animation-delay: 0.3s;
}

.L {
  animation-delay: 0.5s;
}

.I {
  animation-delay: 0.7s;
}

.A {
  animation-delay: 0.9s;
}

.N {
  animation-delay: 1s;
}

@keyframes wiggleWiggle {
  20%,
  100% {
    transform: translate(0, 5px);
  }

  0% {
    transform: translate(0, 0px);
  }
  10% {
    transform: translate(0, 5px);
  }
}


h2{
    font-size: 64px;
    font-family: Helvetica, sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.a {
    position: relative;
  }
  
  .a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: rgba(45, 86, 79, 0.56);;
      bottom: 10px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .4s ease-in-out;
    }
  .a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.navbar{
    position: fixed;
    top: 0;
    padding-top: 1rem;
    margin-top: 0;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    gap:2rem;
    list-style-type: none;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 2rem;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.hero{
    padding-left: 2rem;
    padding-top: 0.1rem;
    color: white;
    display: block;
    height:70vw;
    position: relative;
    background-color: rgba(45, 86, 79, 0.56);
}

.projectsDivider{
    background-color: #728287;
    height: 15rem;
    position: relative;
    top:-6rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.projectsContainer{
    background-color: rgba(45, 86, 79, 0.56);
    height: 50rem;
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: -6rem;
    width: 100%;
}

.projectsGrid{
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: none;
    margin-top: 10rem;
    gap: 10rem;
  

}

.projectsGrid li{
    padding-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: white;
    width: 40rem;
    height: 10rem;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-right: 2.5rem;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.projectsGrid li p{
margin: 2.5rem;
position: absolute;
display: flex;
justify-content: center;
font-size: 1rem;
font-weight: normal;

}

.toolsDivider{
    background-color: #728287;
    height: 15rem;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.toolsTip{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
}

.toolsSection{
    background-color: rgba(45, 86, 79, 0.56);
    height: 50rem;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
}

.toolsList {
  margin-top: 5rem;
  list-style: none;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

/* Styles for each tool item */
.toolsList li {
  /*animation: slide-in 2s;*/
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 5rem; /* Fixed height for each list item */
  width: 200px; /* Fixed width for each list item */
  padding: 1rem;
  display: flex;
  position: relative;
  flex-shrink: 0; /* Prevent items from shrinking */
}



/* Styles for the paragraph inside each tool item */
.toolsList li p {
  display: flex;
  opacity: 0;
  position: absolute;
  top: 5rem;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.toolsList li:hover,
.toolsList li:focus {
  transition: transform 1s, height 4s;
  transform: translateY(-0.75em);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 149, 255, 0.494); 
}

.aboutMeDivider{
    background-color: #728287;
    height: 15rem;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;

}

.aboutMe{
  display: flex;
  width: 100vw;
  height: 40rem;
  background-color: rgba(45, 86, 79, 0.56);
  
}

.aboutMe h2{
  font-size: 2rem;
  font-weight: lighter;
  margin-left: 5rem;
  box-shadow: none;
}

.aboutMeList{
  list-style-type: none;
  margin-top: 5rem;


}

.aboutMe li{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.aboutMe p{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  margin: 15rem;

}

.impressum{
  display: flex;
  background-color: black;
  width: 100vw;
  height: 3rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  font-size: 0.7rem;
}


  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeOut{
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  

  .toolsList li img {
    margin-left: 3.5rem;
    height: 80px;
    width: 80px;
  }

  @keyframes slide-in {
    from{
      transform: translateY(-100%)}
    to{transform: translateY(0%)}
  }
  @keyframes slide-back {
    from{ 
      transform: translateY(0%)}
    to{transform: translateY(-100%)}
    
  }