body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing:border-box;
    overflow-x: hidden;

}

/*body::-webkit-scrollbar {
    display: none;
  }*/
  


h1{
    font-size: 128px;
    font-family: Helvetica, sans-serif;
}

h2{
    font-size: 32px;
    font-family: Helvetica, sans-serif;

}

.navbar{
    position: fixed;
    top: 0;
    padding-top: 1rem;
    margin-top: 0;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    gap:2rem;
    list-style-type: none;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 2rem;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.hero{
    padding-left: 2rem;
    margin-top: -4rem;
    color: white;
    display: block;
    height:50rem;
    position: relative;
    background-color: rgba(45, 86, 79, 0.56);
}

.projectsDivider{
    background-color: #728287;
    height: 15rem;
    position: relative;
    top:-6rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.projectsContainer{
    background-color: rgba(45, 86, 79, 0.56);
    height: 50rem;
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: -6rem;
    width: 100%;
}

.projectsGrid{
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: none;
    margin-top: 10rem;
    gap: 10rem;


}

.projectsGrid li{
    font-weight: bold;
    font-size: 2rem;
    background-color: white;
    width: 40rem;
    height: 10rem;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-right: 2.5rem;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.toolsDivider{
    background-color: #728287;
    height: 15rem;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.toolsSection{
    background-color: rgba(45, 86, 79, 0.56);
    height: 50rem;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
}

.toolsList{
    margin-top: 5rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 5px; 
    width: 70%; 
}
  
  .toolsList li{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    height: 7rem;
  }
  

  .toolsList li img {
    height: 80px;
    width: 80px;
    margin: 1rem;
  }